html, body{
  height: 100%;
  background: #F4FAFA;
}
md-card {
  width: 90%;
  max-width: 500px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
[md-mini-fab].adjusted {
  width: 50px;
}
.select-label {
  display: block;
  padding-bottom: 5px;
  font-size: 75%;
}
select {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 2px;
  text-transform: capitalize;
}
select:focus {
  outline: none;
  border-color: #009688;
  border-width: 2px;
}
.full-width {
  width: 100%;
}
button.active{
  background: #fff;
  color: #009688;
}
button.active:hover{
  color: #fff;
}
.md-button-wrapper > .material-icons {
  display: inline-flex;
  vertical-align: middle;
}
.fill{
  flex: 1 1 auto;
}
.app-state{
  margin: 15px;
  flex: 1;
}
.home{
  flex: 1;
}
md-content{
  display: flex;
  flex-direction: column;
  height: 100%;
}
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  flex: 0 0 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
